body {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Bungee', cursive;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  margin: 20px auto;
}

table {
  background-color: blue;
  border-spacing: 20px;
}

table, td {
  border: 5px solid black;
  border-radius: 5px;
  margin: 0 auto;
}

.closed {
  font-size: 0;
  background-color: cyan;
}

td {
  width: 75px;
  height: 75px;
  background-color: yellow;
  font-size: 150%;
}

.stars {
  font-size: 150%;
  color: orange;
}
