body {
  font-family: 'Bungee', cursive;
  text-align: center;
}

.container {
  width: 80%;
  margin: 3% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin: 3% auto;
}

table {
  /*background-color: blue;*/
  background: linear-gradient(blue, purple);
  border-spacing: 15px;
}

table, td {
  border: 5px solid black;
  border-radius: 5px;
  margin: 0 auto;
}

.closed {
  font-size: 0;
  background-color: cyan;
}

td {
  width: 75px;
  height: 75px;
  background-color: yellow;
  font-size: 175%;
}

.stars {
  font-size: 150%;
  color: orange;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 3%;
  top: 0;
  margin: 0 auto;
  width: 85%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
}

#winModal {
  display: none;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 3px;
  background-color: yellow;
  font-family: 'Bungee', cursive;
}



/*Different Sizing for Smaller Screens*/
@media screen and (max-width: 480px) {
  table {
    border-spacing: 3px;
  }
  td {
    width: 45px;
    height: 45px;
    font-size: 100%;
  }
}
